

.navigation-bar ul {
  padding: 5px;
  margin: 5px;
  list-style-type: none;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}
.navigation-bar li {
    display: inline;
    background-color: red
}
logo-navbar img {
height: 10px;
width: 10px;
}
